.task {
  margin-bottom: 10px;
}

.task .task-name {
  font-weight: bold;
}

.task .task-description {
  color: #888;
}

.task .task-check-label {
  display: inline-block;
  margin-left: 10px;
  color: #888;
}

.task .task-check-label.completed {
  color: #3bb873;
  font-weight: bold;
}

.task .task-check {
  margin-right: 5px;
}

.table-container {
  max-width: 600px;
  margin: 0 auto;
}

.task-table {
  border-collapse: collapse;
  margin-top: 40px;
  width: 60%;
}

.task-table th,
.task-table td {
  padding: 10px;
  text-align: left;
}

.task-table th {
  font-weight: bold;
}

.task-table .task {
  border-bottom: 1px solid #ddd;
}

.task-check-label {
  display: flex;
  align-items: center;
}

.task-check-label input {
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
}
