#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor-principal {

  margin: 30 ;
  width: 400px;
  height: 70px;
  border: 1px solid #36ebaf;
  border-radius: 15px 20px 15px 15px;
  background-color: #36ebaf;
}

.App {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  background-color: #ecf9fa;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tareas {
  margin: 15px ;
  background-color: #f1f1f1;
  border: 1px solid #0f0f0f;
  padding: 5px;
  border-radius: 8px 8px 8px 9px ; 
}
